@model HotelManager.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Occupied)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Occupied)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PriceBedAdult)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriceBedAdult)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PriceBedChild)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriceBedChild)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
